<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
	<title>注册账号</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, inital-scale=1.0, minimum-scale=1.0, maxmum-scale=1.0, user-scalable=no" />
	<link rel="stylesheet" href="assets/css/user/account.css">
	<link rel="shortcut icon" href="../favicon.ico" />
</head>
<body>
	<section id="hd">
		<a href="#" class="back-link"></a>
		<h1 class="title">注册账号</h1>
		<a href="#" class="home-link"></a>
	</section>
	<section id="reg-box" ng-controller="accountCtrl">
		<p class="notice" ng-show="isShow">{{noticTips}}</p>
		<form action="" id="reg">
			<div class="ipt-box phone">
				<label class="ipt-desc">手机号:</label>
				<input class="ipt" type="text" ng-model="regPhone" ng-blur="checkPhoneNum(regPhone);" placeholder="填写手机号，其他用户不可见" maxlength="11">
			</div>
			<div class=" ipt-box pwd">
				<label class="ipt-desc">密码:</label>
				<input class="ipt" type="password" ng-model="regPwd" ng-blur="checkPwd(regPwd)" placeholder="6-12位、数字，字母，下划线">
			</div>
			<div class=" ipt-box pwd">
				<label class="ipt-desc">确认密码:</label>
				<input class="ipt" type="password" ng-model="confPwd" ng-blur="confirmPwd(regPwd, confPwd)" placeholder="6-12位、数字，字母，下划线">
			</div>
			<button class="reg-submit btn" ng-class="{true: 'disabled', false: ''}" ng-disabled="isDisabled" ng-click="checkReg($event)">注 册</button>
		</form>
		<a href="#" class="change-tab">切换到 登录</a>
	</section>
	<section id="login-box">
		<p class="notice">账号或密码不正确</p>
		<form action="" id="login">
			<div class="ipt-box phone">
				<label class="ipt-desc" maxlength="11">手机号:</label>
				<input class="ipt" type="text" ng-model="logPhone" placeholder="手机号">
			</div>
			<div class=" ipt-box pwd">
				<label class="ipt-desc">密码:</label>
				<input class="ipt" type="password" ng-model="logPwd" placeholder="请输入您的密码">
			</div>
			<button class="login-submit btn" disabled="disabled">登录</button>
		</form>
		<a href="#" class="change-tab" ng-click="click()">切换到 注册</a>
	</section>

	<script src="assets/scripts/public/ng/angular.js"></script>
	<script src="assets/scripts/user/account.js"></script>
</body>
</html>