<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
	<meta charset="UTF-8">
	<title>商品页</title>
	<meta name="viewport" content="width=device-width, inital-scale=1.0, minimum-scale=1.0, maxmum-scale=1.0, user-scalable=no" />
	<link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" href="assets/css/good/good.css">
</head>
<body ng-controller="all">
	<header id="hd">
		<div class="btn-group">
		    <button type="button" class="btn btn-info">商品页</button>
		    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		        <span class="caret"></span>
		        <span class="sr-only">Toggle Dropdown</span>
		    </button>
		    <ul class="dropdown-menu">
		        <li><a href="/good.html">商品页面</a></li>
		        <li><a href="/shop.html">商家页面</a></li>
		    </ul>
		</div>
		<div class="btn-group" role="group">
			<button type="button" class="btn btn-default" ng-class="{'add': 'btn-primary', 'modify': '', 'delete': ''}[pageView]" ng-click="changeView('add', $event)">新增商品</button>
			<button type="button" class="btn btn-default" ng-class="{'add': '', 'modify': 'btn-primary', 'delete': ''}[pageView]" ng-click="changeView('modify', $event)">修改商品</button>
			<button type="button" class="btn btn-default" ng-class="{'add': '', 'modify': '', 'delete': 'btn-primary'}[pageView]" ng-click="changeView('delete', $event)">删除商品</button>
		</div>
	</header>
	<section class="content" ng-class="{'add': 'show', 'modify': 'hide', 'delete': 'hide','none': 'hide'}[pageView]" ng-controller="add">
		<h2>商品录入</h2>
		<div class="form-group">
			<label for="name">商品名称</label>
			<input type="text" class="form-control" id="name" ng-model="name" placeholder="请输入商品的全称" require>
		</div>
		<div class="form-group">
			<label for="place">描述</label>
			<input type="text" class="form-control" id="place" ng-model="desc" placeholder="简单描述一下商品" require>
		</div>
		<div class="form-group">
			<label>
				旧的价格
				<input type="text" ng-model="oldPrice" class="form-control">
			</label>
			<label>
				当前的价格
				<input type="text" ng-model="currPrice" class="form-control">
			</label>
		</div>
		<div class="form-group">
			<p>商品类型</p>
			<select name="selectShop" ng-model="type" class="form-control">
				<option value="1">代金券</option>
				<option value="2">套餐</option>
			</select>
			<div class="package" ng-show="type==2">
				<p class="title">套餐内容（换行用 || 表示）</p>
				<textarea class="package-content form-control" placeholder="请输入套餐内容，如果需要内容换行，则用 || 隔开" ng-model="cont"></textarea>
			</div>
		</div>
		<div class="form-group">
			<p>商品类型，最多选择三个，最少一个</p>
			<div class="class-box">
				<div class="class-item">
					<label for="huoguo">火锅</label>
					<input type="checkbox" id="huoguo" value="huoguo" ng-model="class[0]" ng-click="selectClass(0)">
				</div>
				<div class="class-item">
					<label for="zizhucan">自助餐</label>
					<input type="checkbox" id="zizhucan" value="zizhucan" ng-model="class[1]" ng-click="selectClass(1)">
				</div>
				<div class="class-item">
					<label for="tiandian">甜点饮品</label>
					<input type="checkbox" id="tiandian" value="tiandian" ng-model="class[2]" ng-click="selectClass(2)">
				</div>
				<div class="class-item">
					<label for="cake">蛋糕</label>
					<input type="checkbox" id="cake" value="cake" ng-model="class[3]" ng-click="selectClass(3)">
				</div>
				<div class="class-item">
					<label for="xiaochi">小吃快餐</label>
					<input type="checkbox" id="xiaochi" value="xiaochi" ng-model="class[4]" ng-click="selectClass(4)">
				</div>
				<div class="class-item">
					<label for="zhongcan">中餐</label>
					<input type="checkbox" id="zhongcan" value="zhongcan" ng-model="class[5]" ng-click="selectClass(5)">
				</div>
				<div class="class-item">
					<label for="xican">西餐</label>
					<input type="checkbox" id="xican" value="xican" ng-model="class[6]" ng-click="selectClass(6)">
				</div>
				<div class="class-item">
					<label for="qita">其他美食</label>
					<input type="checkbox" id="qita" value="qita" ng-model="class[7]" ng-click="selectClass(7)">
				</div>
			</div>
		</div>
		<div class="form-group">
			<p>选择商品</p>
			<input type="text" class="form-control" placeholder="输入关键字">
			<p>筛选后的商品</p>
			<select name="select-shop" class="form-control" ng-model="shopID">
				<option value="default" ng-selected="true">请选择商品</option>
				<option ng-repeat="shop in shopList" value="{{shop.ID}}" ng-bind="shop.shopName"></option>
			</select>
		</div>
		<div class="form-group">
			<label>活动开始时间</label>
			<input type="text" class="form-control" ng-model="startDate" placeholder="2016-01-01 格式">
			<label>活动结束时间</label>
			<input type="text" class="form-control" ng-model="endDate" placeholder="2016-01-01 格式">
			<label>营业时间</label>
			<input type="text" class="form-control" ng-model="openTime" placeholder="10:08-21:00 格式">
			<label>时间段提醒</label>
			<input type="text" class="form-control" ng-model="timeTip" placeholder="可选，默认是：法定节假日通用">
		</div>
		<div class="form-group">
			<label>预约提示语</label>
			<input type="text" class="form-control" ng-model="book[0]" placeholder="预约提示语1（可选）">
			<input type="text" class="form-control mr-10" ng-model="book[1]" placeholder="预约提示语2（可选）">
			<input type="text" class="form-control mr-10" ng-model="book[2]" placeholder="预约提示语3（可选）">
		</div>
		<div class="form-group">
			<p>使用规则</p>
			<input type="text" class="form-control" ng-model="rule[0]" placeholder="使用规则1">
			<input type="text" class="form-control mr-10" ng-model="rule[1]" placeholder="使用规则2">
			<input type="text" class="form-control mr-10" ng-model="rule[2]" placeholder="使用规则3">
		</div>
		<div class="form-group">
			<p>温馨提示</p>
			<input type="text" class="form-control" ng-model="other[0]" placeholder="温馨提示1">
			<input type="text" class="form-control mr-10" ng-model="other[1]" placeholder="温馨提示2">
			<input type="text" class="form-control mr-10" ng-model="other[2]" placeholder="温馨提示3">
		</div>
		<div class="form-group">
			<a class="btn" ng-class="{true: 'btn-info', false: 'btn-default'}[uploadFlag]" ng-click="uploadImg($event)" ng-disabled="!uploadFlag">上传图片</a>
		</div>
		<div class="form-group tal">
			<div class="img-box img-add-box" ng-click="imgMaskDelete(0)">
				<input type="text" ng-model="imgList[0]">
			</div>
			<div class="img-box img-add-box" ng-click="imgMaskDelete(1)">
				<input type="text" ng-model="imgList[1]">
			</div>
			<div class="img-box img-add-box" ng-click="imgMaskDelete(2)">
				<input type="text" ng-model="imgList[2]">
			</div>
		</div>
		<form id="imgform" name="testupload" action="/upload/img" target="javascript:;" enctype="multipart/form-data" style="display: none;">
			<input type="file" name="upload" multiple="multiple" id="file" ng-model="fileName">
			<input type="submit" value="Upload" id="submit">
		</form>
		<div class="form-group">
			<button class="btn btn-primary" ng-click="addGood();" ng-disabled="isAddDisabled">提交</button>
		</div>
	</section>
	<section class="content" ng-class="{'add': 'hide', 'modify': 'show', 'delete': 'hide','none': 'hide'}[pageView]" ng-controller="modify">
		<h2>修改商品</h2>
		<div class="row">
			<input type="text" class="form-control search-msg" ng-model="goodName" ng-keydown="searchGoodByKeyboard()">
			<button class="btn btn-primary search" ng-click="searchGood()">搜索</button>
		</div>
		<div class="form-group" ng-show="hasSearch">
			<p>筛选后的商品</p>
			<select class="shop-list form-control" ng-model="goodID" ng-change="changeGood($index)">
				<option ng-repeat="goods in goodList" value="{{goods.good.ID}}">{{goods.good.goodName}}</option>
			</select>
		</div>
		<div class="selected-good" ng-show="hasSelectShop">
			<div class="form-group" style="display: none;">
				<label for="name">商品ID</label>
				<input type="text" class="form-control" id="name" ng-model="good.ID" placeholder="请输入商品的全称" require>
			</div>
			<div class="form-group">
				<label for="name">商品名称</label>
				<input type="text" class="form-control" id="name" ng-model="good.name" placeholder="请输入商品的全称" require>
			</div>
			<div class="form-group">
				<label for="place">描述</label>
				<input type="text" class="form-control" id="place" ng-model="good.goodDesc" placeholder="简单描述一下商品" require>
			</div>
			<div class="form-group">
				<label>
					旧的价格
					<input type="text" ng-model="good.oldPrice" class="form-control">
				</label>
				<label>
					当前的价格
					<input type="text" ng-model="good.currPrice" class="form-control">
				</label>
			</div>
			<div class="form-group">
				<p>商品类型</p>
				<select class="form-control" ng-model="selectedType" ng-options="type.msg as type.val for type in types">
				</select>
				<div class="package" ng-show="selectedType==2">
					<p class="title">套餐内容（换行用 || 表示）</p>
					<textarea class="package-content form-control" placeholder="请输入套餐内容，如果需要内容换行，则用 || 隔开" ng-model="good.goodCont"></textarea>
				</div>
			</div>
			<div class="form-group">
				<label>活动开始时间</label>
				<input type="text" class="form-control" ng-model="good.tips.startDate" placeholder="2016-01-01 格式">
				<label>活动结束时间</label>
				<input type="text" class="form-control" ng-model="good.tips.endDate" placeholder="2016-01-01 格式">
				<label>营业时间</label>
				<input type="text" class="form-control" ng-model="good.tips.useTime.openTime" placeholder="10:08-21:00 格式">
				<label>时间段提醒</label>
				<input type="text" class="form-control" ng-model="good.tips.useTime.other" placeholder="可选">
			</div>
			<div class="form-group">
				<label>预约提示语</label>
				<input type="text" class="form-control mr-10" ng-model="good.tips.book[0]" placeholder="预约提示语1(可选)">
				<input type="text" class="form-control mr-10" ng-model="good.tips.book[1]" placeholder="预约提示语2(可选)">
				<input type="text" class="form-control mr-10" ng-model="good.tips.book[2]" placeholder="预约提示语3(可选)">
			</div>
			<div class="form-group">
				<p>使用规则</p>
				<input type="text" class="form-control mr-10"ng-model="good.tips.rule[0]" placeholder="使用规则1">
				<input type="text" class="form-control mr-10"ng-model="good.tips.rule[1]" placeholder="使用规则2">
				<input type="text" class="form-control mr-10"ng-model="good.tips.rule[2]" placeholder="使用规则3">
			</div>
			<div class="form-group">
				<p>温馨提示</p>
				<input type="text" class="form-control mr-10"ng-model="good.tips.other[0]" placeholder="温馨提示1">
				<input type="text" class="form-control mr-10"ng-model="good.tips.other[1]" placeholder="温馨提示2">
				<input type="text" class="form-control mr-10"ng-model="good.tips.other[2]" placeholder="温馨提示3">
			</div>
			<div class="form-group">
				<a class="btn btn-info" ng-click="upload.uploadImg($event)" ng-disabled="!uploadFlag">上传图片</a>
			</div>
			<div class="form-group tal">
				<div class="img-box img-modify-box" ng-repeat="imgData in good.goodImg" ng-click="upload.imgMaskDelete($index)">
					<input type="text" ng-model="good.goodImg[$index]">
					<div class="mask" ng-show="good.goodImg[$index]"></div>
					<img src="" ng-src="{{imgData}}" ng-show="good.goodImg[$index]">
				</div>
			</div>
			<form id="imgform" name="testupload" action="/upload/img" target="javascript:;" enctype="multipart/form-data" style="display: none;">
				<input type="file" name="upload" multiple="multiple" id="file" ng-model="fileName">
				<input type="submit" value="Upload" id="submit">
			</form>
			<div class="form-group">
				<button class="btn btn-primary" ng-click="modifyGood();" ng-disabled="isAddDisabled">提交</button>
			</div>
		</div>
	</section>
	<section class="content" ng-class="{'add': 'hide', 'modify': 'hide', 'delete': 'show','none': 'hide'}[pageView]" ng-controller="delete">
		<h2>删除商品</h2>
		<div class="row">
			<input type="text" class="form-control search-msg" ng-model="goodName" ng-keydown="searchGoodByKeyboard()">
			<button class="btn btn-primary search" ng-click="searchGood()">搜索</button>
		</div>
		<div class="form-group" ng-show="hasSearch">
			<p>筛选后的商家</p>
			<table class="table table-hover tac">
				<tr>
					<th class="tac">序号</th>
					<th class="tac">商品名</th>
					<th class="tac">商家名</th>
					<th class="tac">商品类型</th>
					<th class="tac">操作</th>
				</tr>
				<tr ng-repeat="data in goodList">
					<td ng-bind="$index + 1"></td>
					<td ng-bind="data.good.ID" style="display: none;"></td>
					<td ng-bind="data.good.goodName"></td>
					<td ng-bind="data.shop.shopName"></td>
					<td ng-bind="calcGoodType(data.good.goodType)"></td>
					<td>
						<button class="btn btn-danger" ng-click="deleteGood($index, data.good.ID)" ng-disabled="isPending">删除</button>
					</td>
				</tr>
			</table>
		</div>
	</section>
	<footer id="ft" ng-show="showTips" class="row">
		<p class="success-tips tips suc" ng-show="isSuc">{{tips}}成功</p>
		<p class="success-tips tips err" ng-show="isErr">{{tips}}失败</p>
		<button class="btn btn-info" ng-click="reload()">返回页面</button>
	</footer>
	<script src="angular/angular.js"></script>
	<script src="jquery/dist/jquery.min.js"></script>
	<script src="bootstrap/js/dropdown.js"></script>
	<script src="assets/scripts/good/good.js"></script>
</body>
</html>