<!DOCTYPE html>
<html lang="en" ng-app="indexApp">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, inital-scale=1.0, minimum-scale=1.0, maxmum-scale=1.0, user-scalable=no" />
	<title>喵喵团 更优质的团购网站</title>
	<link rel="shortcut icon" href="favicon.ico" />
	<link rel="stylesheet" href="assets/css/index/index.css">
</head>
<body ng-controller="indexCtrl">
	<header id="hd">
		<a href="#" id="geo-city">广州<i class="city"></i></a>
		<h1 id="title">喵喵团</h1>
		<a href="#" id="user-center"><i class="user"></i>我的</a>
	</header>
	<section id="search">
		<form class="search-fm" action="" data-role="form">
			<div class="search-box">
		 		<input type="text" class="search-ipt" placeholder="搜索商家、分类、地点" max-length="10" autocomplete="off">
		 		<i class="clear"></i>
		 		<button class="search-sbm btn" type="submit"></button>
			</div>
			<button class="close-sug">关闭</button>
			<div class="sug-box">
			 	<!-- <div class="history-block">
			 		<ul class="his-list">
			 			<li class="his-item"><a href="#" class="his-link">黄记煌</a></li>
			 			<li class="his-item"><a href="#" class="his-link">贡茶</a></li>
			 		</ul>
			 		<div class="btn-box">
			 			<a class="his-opt" href="#">清除历史记录</a><a class="his-opt" href="#">关闭</a>
			 		</div>
			 	</div> -->
			 	<div class="sug-block">
			 		<ul class="sug-list">
			 			<li class="sug-item">
			 				<a href="#" class="sug-link">
			 					<span>1元团购</span>
			 					<span class="sug-tip">
			 						约 88 单
			 					</span>
			 				</a>
			 			</li>
			 			<li class="sug-item">
			 				<a href="#" class="sug-link">
			 					<span>10人餐</span>
			 					<span class="sug-tip">
			 						约 100 单
			 					</span>
			 				</a>
			 			</li>
			 		</ul>
			 		<div class="btn-box">
			 			<a href="#" class="sug-opt">关闭</a>
			 		</div>
			 	</div>
			</div>
		</form>
	</section>
	<section id="catalog">
		<!-- <ul class="catg-box">
			<li class="menu">
				<a href="##" class="menu-item">
					<div class="bgimg meishi"></div>
					<span class="text">美食</span>
				</a>
				<a href="##" class="menu-item">
					<div class="bgimg dianying"></div>
					<span class="text">电影</span>
				</a>
				<a href="##" class="menu-item">
					<div class="bgimg jiudian"></div>
					<span class="text">酒店</span>
				</a>
				<a href="##" class="menu-item">
					<div class="bgimg yule"></div>
					<span class="text">休闲娱乐</span>
				</a>
				<a href="##" class="menu-item">
					<div class="bgimg huoguo"></div>
					<span class="text">火锅</span>
				</a>
				<a href="##" class="menu-item">
					<div class="bgimg lvyou"></div>
					<span class="text">旅游</span>
				</a>
				<a href="##" class="menu-item">
					<div class="bgimg daijin"></div>
					<span class="text">代金券</span>
				</a>
				<a href="##" class="menu-item">
					<div class="bgimg ktv"></div>
					<span class="text">KTV</span>
				</a>
			</li>
			<li class="menu">
				<a href="##" class="menu-item">
					<div class="bgimg saishi"></div>
					<span class="text">演出赛事</span>
				</a>
				<a href="##" class="menu-item">
					<div class="bgimg xiaochi"></div>
					<span class="text">小吃快餐</span>
				</a>
				<a href="##" class="menu-item">
					<div class="bgimg dangao"></div>
					<span class="text">蛋糕</span>
				</a>
				<a href="##" class="menu-item">
					<div class="bgimg fuwu"></div>
					<span class="text">生活服务</span>
				</a>
				<a href="##" class="menu-item">
					<div class="bgimg zizhu"></div>
					<span class="text">自助餐</span>
				</a>
				<a href="##" class="menu-item">
					<div class="bgimg liren"></div>
					<span class="text">丽人</span>
				</a>
				<a href="##" class="menu-item">
					<div class="bgimg wenquan"></div>
					<span class="text">温泉洗浴</span>
				</a>
				<a href="##" class="menu-item">
					<div class="bgimg gengduo"></div>
					<span class="text">更多分类</span>
				</a>
			</li>
		</ul> -->
		<catalog></catalog>
		<div class="points-box">
			<i class="point active"></i><i class="point"></i>
		</div>
	</section>
	<section id="goods">
		<h3 class="goods-title">猜你喜欢
			<a href="#" class="more-link">全部团购</a>
		</h3>
		<div class="goods-list">
			<section class="good-item">
				<a href="#" class="good-link">
					<div class="img-box">
						<img src="assets/img/kfc.jpg" alt="点都得">
					</div>
					<div class="info-box">
						<div class="title-line">
							<h3 class="good-name">点都得</h3>
							<span class="distance"></span>
							<span class="place">天河</span>
						</div>
						<p class="desc">100元代金券！祝贺新店开张，全场通用</p>
						<div class="price-line">
							<span class="now">88</span>
							<span class="old">100</span>
							<span class="discount">立减10元</span>
							<span class="count">已售3.1万</span>
						</div>
					</div>
				</a>
			</section>
			<section class="good-item">
				<a href="#" class="good-link">
					<div class="img-box">
						<img src="assets/img/kfc.jpg" alt="点都得">
					</div>
					<div class="info-box">
						<div class="title-line">
							<h3 class="good-name">点都得</h3>
							<span class="distance"></span>
							<span class="place">天河</span>
						</div>
						<p class="desc">100元代金券！祝贺新店开张，全场通用</p>
						<div class="price-line">
							<span class="now">88</span>
							<span class="old">100</span>
							<span class="discount">立减10元</span>
							<span class="count">已售3.1万</span>
						</div>
					</div>
				</a>
			</section>
			<section class="good-item">
				<a href="#" class="good-link">
					<div class="img-box">
						<img src="assets/img/kfc.jpg" alt="点都得">
					</div>
					<div class="info-box">
						<div class="title-line">
							<h3 class="good-name">点都得</h3>
							<span class="distance"></span>
							<span class="place">天河</span>
						</div>
						<p class="desc">100元代金券！祝贺新店开张，全场通用</p>
						<div class="price-line">
							<span class="now">88</span>
							<span class="old">100</span>
							<span class="discount">立减10元</span>
							<span class="count">已售3.1万</span>
						</div>
					</div>
				</a>
			</section>
			<section class="good-item" ng-repeat="good in goodList">
				<a href="/gdetail.html?ID={{good.good.ID}}" class="good-link">
					<div class="img-box">
						<img src="{{good.good.goodImg[0]}}">
					</div>
					<div class="info-box">
						<div class="title-line">
							<h3 class="good-name" ng-bind="good.good.goodName"></h3>
							<span class="distance"></span>
							<span class="place" ng-bind="good.shop.shopPlace"></span>
						</div>
						<p class="desc" ng-bind="good.good.goodDesc"></p>
						<div class="price-line">
							<span class="now" ng-bind="good.good.currPrice"></span>
							<span class="old" ng-bind="good.good.oldPrice"></span>
							<!-- <span class="discount">立减10元</span> -->
							<span class="count">已售{{good.good.goodCount || 888}}</span>
						</div>
					</div>
				</a>
			</section>
		</div>
	</section>
	<section id="load-more">
		<a href="#" class="load-more-link" ng-click="loadMore(currLen, $event)" ng-show="hasMore">查看更多团购</a>
	</section>
	<footer id="ft">
		<section class="info-block">
			<div class="geo-city">
				<span>城市：</span><a href="#" class="city-name info-link">广州</a>
			</div>
			<div class="login-info info">
				<a href="#" class="info-link" data-role="login">登陆</a>
				<a href="#" class="info-link" data-role="register">注册</a>
			</div>
			<div class="user-info info">
				<a href="#" class="info-link" data-role="ticket">喵喵券</a>
				<a href="#" class="info-link" data-role="unpaid">待付款</a>
			</div>
		</section>
		<section class="link-block">
			<p class="copyright">©miaomiao.com 2015-2016</p>
		</section>
		<div class="top"></div>
	</footer>
	<script src="assets/scripts/public/ng/angular.js"></script>
	<script src="assets/scripts/public/page/page.js"></script>
	<script src="assets/scripts/public/util/event.js"></script>
	<script src="assets/scripts/index/index.js"></script>
</body>
</html>