<!DOCTYPE html>
<html lang="en" ng-app="orderEval">
<head>
	<meta charset="UTF-8">
	<title>评价</title>
	<meta name="viewport" content="width=device-width, inital-scale=1.0, minimum-scale=1.0, maxmum-scale=1.0, user-scalable=no" />
	<link rel="stylesheet" href="assets/css/order/order.css">
	<link rel="shortcut icon" href="favicon.ico" />
</head>
<body class="order-eval" ng-controller="orEvalCtrl">
	<section id="hd" ng-controller="pageHdCtrl">
		<a href="#" class="back-link" ng-click="back()"></a>
		<h1 class="title">订单详情</h1>
		<a href="{{homeLink}}" class="home-link"></a>
	</section>
	
	<section class="order-msg">
		<div class="img-box">
			<img ng-src="{{order.good.goodImg}}">
		</div>
		<div class="info-box">
			<div class="title-line">
				<h3 class="good-name" ng-bind="order.good.goodName"></h3>
			</div>
			<p class="desc">总价：￥
				<span class="main-clr" ng-bind="order.sumPrice.toFixed(2)"></span> 
				数量：<span class="main-clr" ng-bind="order.count || 1"></span>
			</p>
			<div class="price-line">
				购买时间：{{order.bookTime}}
			</div>
		</div>
	</section>

	<section class="eval-box">
		<div class="eval-block sum-block">
			<label class="title">总体评价</label>
			<div class="basic-score">
				<div class="real-score" style="width: {{sumWidth}};"></div>

				<div class="btn-group">
					<button class="score-btn" ng-click="evalScore(0, 1)"></button>
					<button class="score-btn" ng-click="evalScore(0, 2)"></button>
					<button class="score-btn" ng-click="evalScore(0, 3)"></button>
					<button class="score-btn" ng-click="evalScore(0, 4)"></button>
					<button class="score-btn" ng-click="evalScore(0, 5)"></button>
				</div>
			</div>
		</div>
		<div class="eval-block eat-block">
			<label class="title">口味</label>
			<div class="basic-score">
				<div class="real-score" style="width: {{eatWidth}};"></div>

				<div class="btn-group">
					<button class="score-btn" ng-click="evalScore(1, 1)"></button>
					<button class="score-btn" ng-click="evalScore(1, 2)"></button>
					<button class="score-btn" ng-click="evalScore(1, 3)"></button>
					<button class="score-btn" ng-click="evalScore(1, 4)"></button>
					<button class="score-btn" ng-click="evalScore(1, 5)"></button>
				</div>
			</div>
		</div>
		<div class="eval-block envir-block">
			<label class="title">环境</label>
			<div class="basic-score">
				<div class="real-score" style="width: {{envirWidth}};"></div>

				<div class="btn-group">
					<button class="score-btn" ng-click="evalScore(2, 1)"></button>
					<button class="score-btn" ng-click="evalScore(2, 2)"></button>
					<button class="score-btn" ng-click="evalScore(2, 3)"></button>
					<button class="score-btn" ng-click="evalScore(2, 4)"></button>
					<button class="score-btn" ng-click="evalScore(2, 5)"></button>
				</div>
			</div>
		</div>
		<div class="eval-block service-block">
			<label class="title">服务</label>
			<div class="basic-score">
				<div class="real-score" style="width: {{serviceWidth}};"></div>

				<div class="btn-group">
					<button class="score-btn" ng-click="evalScore(3, 1)"></button>
					<button class="score-btn" ng-click="evalScore(3, 2)"></button>
					<button class="score-btn" ng-click="evalScore(3, 3)"></button>
					<button class="score-btn" ng-click="evalScore(3, 4)"></button>
					<button class="score-btn" ng-click="evalScore(3, 5)"></button>
				</div>
			</div>
		</div>
		<p class="eval-tip">说说这次团购不足和亮点吧</p>
		<div id="evalCont" class="eval-cont" contentEditable="true"></div>
	</section>

	<section class="eval-img">
		<p class="eval-tip ft14" ng-show="imgSrc.length <= 8">上传图片</p>
		<div class="eval-img-box">
			<img ng-repeat="src in imgSrc" ng-src="{{src}}" ng-click="deleteImg($index)">
			<button class="upload-btn" ng-click="uploadImg()"></button>
		</div>
	</section>

	<section class="submit-box">
		<button class="submit-eval" ng-disabled="isPending" ng-click="submitEval()">提交评价</button>
	</section>
	<form id="imgform" name="testupload" action="/upload/img" target="javascript:;" enctype="multipart/form-data" style="display: none;">
		<input type="file" name="upload" multiple="multiple" id="file">
		<input type="submit" value="Upload" id="submit">
	</form>
	<script src="angular/angular.js"></script>
	<script src="assets/scripts/public/page/page.js"></script>
	<script src="assets/scripts/public/util/url.js"></script>
	<script src="assets/scripts/public/util/event.js"></script>
	<script src="assets/scripts/public/util/admin.js"></script>
	<script src="assets/scripts/order/orderEval.js"></script>
</body>
</html>