<!DOCTYPE html>
<html lang="en" ng-app="orderMsgMD">
<head>
	<meta charset="UTF-8">
	<title>订单详情</title>
	<meta name="viewport" content="width=device-width, inital-scale=1.0, minimum-scale=1.0, maxmum-scale=1.0, user-scalable=no" />
	<link rel="stylesheet" href="assets/css/order/order.css">
	<link rel="shortcut icon" href="favicon.ico" />
</head>
<body class="order-msg" ng-controller="orMsgCtrl">
	<section id="hd" ng-controller="pageHdCtrl">
		<a href="#" class="back-link" ng-click="back()"></a>
		<h1 class="title">订单详情</h1>
		<a href="{{homeLink}}" class="home-link"></a>
	</section>
	<section class="good-msg">
		<section class="good-item">
			<a href="/gdetail.html?ID={{order.goodID}}" class="good-link">
				<div class="img-box">
					<img src="{{order.good.goodImg}}">
				</div>
				<div class="info-box">
					<div class="title-line">
						<h3 class="good-name" ng-bind="order.good.goodName"></h3>
						<span class="distance"></span>
					</div>
					<p class="desc" ng-bind="order.good.goodDesc"></p>
					<div class="price-line">
						<span class="now" ng-bind="order.good.currPrice"></span>
						<span class="old" ng-bind="order.good.oldPrice"></span>
					</div>
				</div>
			</a>
		</section>
	</section>
	<section class="good-cont">
		<h4 class="title">套餐内容</h4>
		<div class="cont" ng-bind="order.good.goodCont"></div>
	</section>
	<section class="order-msg">
		<h3 class="title">订单详情</h3>
		<div class="msg-box order">
			<span class="lf">订单编号</span>
			<span class="rh" ng-bind="order.ID.slice(2)"></span>
		</div>
		<div class="msg-box order">
			<span class="lf">数量</span>
			<span class="rh" ng-bind="order.count"></span>
		</div>
		<div class="msg-box order">
			<span class="lf">下单时间</span>
			<span class="rh" ng-bind="bookTime"></span>
		</div>
		<div class="msg-box order">
			<span class="lf">手机号</span>
			<span class="rh" ng-bind="order.phone"></span>
		</div>
		<div class="msg-box order">
			<span class="lf">总价</span>
			<span class="rh unit" ng-bind="order.sumPrice.toFixed(2)"></span>
		</div>
	</section>
	<section class="pay-box">
		<span class="money unit" ng-bind="order.sumPrice.toFixed(2)"></span>
		<button class="pay-btn" ng-class="{true: 'disabled', false: ''}[paySuc]" ng-disabled="isPending" ng-bind="btnMsg" ng-click="pay()"></button>
	</section>

	<script src="angular/angular.js"></script>
	<script src="assets/scripts/public/page/page.js"></script>
	<script src="assets/scripts/public/util/url.js"></script>
	<script src="assets/scripts/public/util/event.js"></script>
	<script src="assets/scripts/order/orderMsg.js"></script>
</body>
</html>