<!DOCTYPE html>
<html lang="en" ng-app="sdetail">
<head>
	<title>商户详情</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, inital-scale=1.0, minimum-scale=1.0, maxmum-scale=1.0, user-scalable=no" />
	<link rel="shortcut icon" href="../favicon.ico" />
	<link rel="stylesheet" href="assets/css/sdetail/sdetail.css">
</head>
<body ng-controller="sdCtrl">
	<section id="hd" ng-controller="pageHdCtrl">
		<a href="#" class="back-link" ng-click="backDetail()"></a>
		<h1 class="title">商户详情</h1>
		<a href="{{homeLink}}" class="home-link"></a>
	</section>
	<article id="bd" ng-show="isShowBd">
		<section class="shop-detail">
			<div class="shop-info">
				<a href="#" class="more-link">
					<img class="cover-img" src="{{shop.shopImg[0]}}" alt="">
					<span class="img-count">21</span>
				</a>
				<div class="cont">
					<h2 class="shop-name" ng-bind="shop.shopName"></h2>
					<div class="score">
						<div class="basic-score">
							<div class="real-score" style="width: {{(shopPoints * 20).toFixed(1)}}%"></div>
						</div>
						<!-- <span class="price">人均：￥30</span> -->
					</div>
					<div class="sp-score">
						<span class="item">口味：{{eatPoints}}</span>
						<span class="item">环境：{{envirPoints}}</span>
						<span class="item">服务：{{servicePoints}}</span>
					</div>
				</div>
			</div>
			<p class="shop-pos" ng-bind="shop.shopPlace"></p>
			<div class="contact">
				<span class="item phone" ng-click="showPhone($event)">电话</span>
				<!-- <span class="item envir">商家环境</span> -->
			</div>
			<a class="view-all" href="chainShop" ng-click="viewAllShop($event)">查看全部{{chainShopList.length || 0}}家分店</a>
		</section>
		<section class="shop-good">
			<h3 class="title">代金券/团购</h3>
			<div class="goods-list">
				<div class="good" ng-repeat="good in viewGoodList">
					<a href="/gdetail.html?ID={{good.ID}}" class="good-link">
						<p class="good-name" ng-bind="good.goodName"></p>
						<div class="price">
							<span class="current" ng-bind="good.currPrice"></span>
							<span class="old" ng-bind="good.oldPrice"></span>
						</div>
						<span class="count">已售{{good.goodCount}}</span>
					</a>
				</div>
			</div>
			<a href="#" class="view-all /*top" ng-show="viewMore" ng-click="toggleMore($event)">查看全部{{goodList.length}}个团单</a>
			<a href="#" class="view-all top" ng-show="packup" ng-click="toggleMore($event)">收起</a>
		</section>
		<section class="recom-menu">
			<h4 class="title">推荐菜</h4>
			<div class="menu" ng-bind="shop.goodRecom || '无'">
				<!-- <span class="item">核桃仁鸡肉披萨</span>
				<span class="item">秘制鸡中翼</span>
				<span class="item">新奥尔良鸡肉披萨</span>
				<span class="item">榴莲披萨</span>
				<span class="item">无骨鸡柳</span>
				<span class="item">咖喱牛肉披萨</span> -->
			</div>
		</section>
		<section class="panel evaluate-panel">
			<div class="score-star">
				<div class="basic-score">
					<div class="real-score"></div>
				</div>
				<span class="score" ng-bind="shopPoints"></span>
				<span class="evaluate">{{evalArr.length}}人评价</span>
			</div>
			<div class="brief-desc">
				<span class="item" ng-show="tag[0]">味道不错({{tag[0]}})</span>
				<span class="item" ng-show="tag[1]">服务态度好({{tag[1]}})</span>
				<span class="item" ng-show="tag[2]">环境不错({{tag[2]}})</span>
				<span class="item" ng-show="tag[3]">总体很不错({{tag[3]}})</span>
			</div>
			<div class="eval-list">
				<div class="eval-item" ng-repeat="evalItem in evalArr">
					<div class="eval-hd">
						<span class="user-name" ng-bind="evalItem.cont.username"></span>
						<span class="time" ng-bind="evalItem.cont.timestamp"></span>
						<div class="basic-score">
							<div class="real-score" style="width: {{evalItem.width}};"></div>
						</div>
					</div>
					<div class="eval-bd">
						<artical class="eval-cont" ng-bind="evalItem.cont.word">
						</artical>
						<div class="img-list">
							<div class="img-box" ng-repeat="imgSrc in evalItem.cont.imgList"><img ng-src="{{imgSrc}}"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="panel-ft" ng-show="evalArr.length > 10">
				<a href="#" class="view-all">查看全部{{evalArr.length}}条评价</a>
			</div>
		</section>
		
		<!-- <section class="guess-like">
			<h4 class="title">猜您喜欢</h4>
			<div class="key-box">
				<div class="key-line">
					<a href="#" class="key">尊宝</a>
					<a href="#" class="key">尊宝披萨</a>
					<a href="#" class="key">尊宝比萨团购</a>
				</div>
				<div class="key-line">
					<a href="#" class="key">美食</a>
					<a href="#" class="key">小吃</a>
					<a href="#" class="key">尊宝比萨 五山店</a>
				</div>
				<div class="key-line">
					<a href="#" class="key">必胜客</a>
					<a href="#" class="key">麦当劳</a>
					<a href="#" class="key">肯德基</a>
				</div>
			</div>
		</section> -->
	</article>

	<!-- 全部分店 -->
	<div class="shop-popup" ng-show="isShowShop">
		<div class="popup-hd">
			<h3 class="title">全部分店</h3>
			<p class="shop-count">{{chainShopList.length}}店通用</p>
		</div>
		<!-- <a href="#" class="close" ng-click="closeShopPopup($event)"></a> -->
		<div class="shop-bd shop-list">
			<div>
				<div class="shop-item" ng-repeat="chainShop in chainShopList">
					<a href="/sdetail.html?ID={{chainShop.ID}}" class="shop">
						<h4 class="shop-name" ng-bind="chainShop.shopName"></h4>
						<p class="shop-pos" ng-bind="chainShop.shopPlace"></p>
					</a>
					<a href="tel:{{chainShop.shopPhone}}" class="shop-phone"></a>
				</div>
			</div>
		</div>
	</div>

	<footer id="ft" ng-controller="pageFtCtrl">
		<section class="info-block">
			<div class="geo-city">
				<span>城市：</span><a href="#" class="city-name info-link">广州</a>
			</div>
			<div class="login-info info">
				<a href="#" class="info-link" data-role="login">登陆</a>
				<a href="#" class="info-link" data-role="register">注册</a>
			</div>
			<div class="user-info info" ng-show="isAdmin">
				<a href="/good.html" class="info-link" data-role="ticket">录入商品</a>
				<a href="/shop.html" class="info-link" data-role="unpaid">录入商家</a>
			</div>
		</section>
		<section class="link-block">
			<p class="copyright">©miaomiao.com 2015-2016</p>
		</section>
		<div class="top" ng-click="gotoTop()"></div>
	</footer>
	
	<!-- 遮层 -->
	<div class="bg-mask" ng-show="isShowMask"></div>

	<!-- 弹出电话 -->
	<div class="phone-popup" ng-show="isShowPhone">
		<div class="content">
			<h4 class="title">拨打电话</h4>
			<a href="tel:{{shop.shopPhone}}" class="phone" ng-bind="shop.shopPhone"></a>
			<button class="cancel" ng-click="hidePhone($event)">取消</button>
		</div>
	</div>

	<script src="angular/angular.js"></script>
	<script src="assets/scripts/public/page/page.js"></script>
	<script src="assets/scripts/public/util/url.js"></script>
	<script src="assets/scripts/public/util/admin.js"></script>
	<script src="assets/scripts/public/util/event.js"></script>
	<script src="assets/scripts/sdetail/sdetail.js"></script>
</body>
</html>