<!DOCTYPE html>
<html lang="en" ng-app="searchApp">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, inital-scale=1.0, minimum-scale=1.0, maxmum-scale=1.0, user-scalable=no" />
	<title>搜索结果</title>
	<link rel="shortcut icon" href="../favicon.ico" />
	<link rel="stylesheet" href="assets/css/search/search.css">
</head>
<body ng-controller="searchCtrl">
	<header id="hd">
		<a href="javascript:history.back()" class="back-link"></a>
		<form action="" class="search-fm">
			<div class="search-box">
				<input type="text" class="search-ipt" data-role="search" autocomplete="off" placeholder="搜索商店、商家、分类" maxlength="20" ng-model="key"  ng-keydown="searchByKeyboard()">
				<!-- <span class="clear-word">
					<i class="icon"></i>
				</span> -->
				<a href="/" class="home-link"></a>
				<button class="search-sbm btn" ng-click="search()"></button>
				<button class="close" role="close">
					关闭
				</button>
			</div>
			<div class="sug-box" ng-show="isSearchOK">
			 	<div class="sug-block" ng-show="isSearchOK">
			 		<ul class="sug-list">
			 			<li class="sug-item" ng-repeat="good in searchTip.good">
			 				<a href="/search.html?key={{good.goodName}}&amp;type=goodName" class="sug-link">
			 					<span>商品：{{good.goodName}}</span>
			 					<span class="sug-tip">
			 						约 {{good.goodCount}} 单
			 					</span>
			 				</a>
			 			</li>
			 			<li class="sug-item" ng-repeat="class in searchTip.class">
			 				<a href="/search.html?key={{class.goodClass}}&amp;type=goodClass" class="sug-link">
			 					<span>分类：{{class.goodName}}</span>
			 					<span class="sug-tip">
			 						约 {{class.goodCount}} 单
			 					</span>
			 				</a>
			 			</li>
			 			<li class="sug-item" ng-repeat="shop in searchTip.shop">
			 				<a href="/search.html?key={{shop.shopName}}&amp;type=shopName" class="sug-link">
			 					<span>商家：{{shop.shopName}}</span>
			 					<span class="sug-tip">
			 						约 {{shop.goodList.length || 0}} 件商品
			 					</span>
			 				</a>
			 			</li>
			 		</ul>
			 		<div class="btn-box">
			 			<a href="javascript:void(0);" class="sug-opt" ng-click="closeSug()">关闭</a>
			 		</div>
			 	</div>
			</div>
		</form>
	</header>
	<!-- <section id="filter-box">
		<section class="filter-hd">
			<button class="tab active">美食</button>
			<button class="tab">全城</button>
			<button class="tab">默认排序</button>
			<button class="tab">筛选</button>
		</section>
		<section class="filter-bd">
			<div class="catg-part bd-part">
				<div class="main-block">
					<ul class="catg-list">
						<li class="catg-opt"><span class="opt-name">全部分类</span><span class="opt-count hide"></span></li>
						<li class="catg-opt active"><span class="opt-name">美食</span><span class="opt-count">25623</span></li>
						<li class="catg-opt"><span class="opt-name">电影</span><span class="opt-count">97</span></li>
						<li class="catg-opt"><span class="opt-name">酒店</span><span class="opt-count">9978</span></li>
						<li class="catg-opt"><span class="opt-name">休闲娱乐</span><span class="opt-count">6702</span></li>
						<li class="catg-opt"><span class="opt-name">生活服务</span><span class="opt-count">2345</span></li>
						<li class="catg-opt"><span class="opt-name">本地生活</span><span class="opt-count">2345</span></li>
					</ul>
				</div>
				<div class="sub-block">
					<ul class="details-list">
						<li class="detail-opt active">
							<div class="span opt-name">全部</div>
							<span class="opt-count detail-count">25584</span>
						</li>
						<li class="detail-opt">
							<div class="span opt-name">代金券</div>
							<span class="opt-count detail-count">6690</span>
						</li>
						<li class="detail-opt">
							<div class="span opt-name">甜点饮品</div>
							<span class="opt-count detail-count">6589</span>
						</li>
						<li class="detail-opt">
							<div class="span opt-name">全部中餐</div>
							<span class="opt-count detail-count">6303</span>
						</li>
						<li class="detail-opt">
							<div class="span opt-name">小吃快餐</div>
							<span class="opt-count detail-count">6303</span>
						</li>
						<li class="detail-opt">
							<div class="span opt-name">蛋糕</div>
							<span class="opt-count detail-count">2535</span>
						</li>
						<li class="detail-opt">
							<div class="span opt-name">粤菜</div>
							<span class="opt-count detail-count">2496</span>
						</li>
						<li class="detail-opt">
							<div class="span opt-name">火锅</div>
							<span class="opt-count detail-count">2329</span>
						</li>
						<li class="detail-opt">
							<div class="span opt-name">西餐</div>
							<span class="opt-count detail-count">1334</span>
						</li>
						<li class="detail-opt">
							<div class="span opt-name">川菜</div>
							<span class="opt-count detail-count">996</span>
						</li>
					</ul>
				</div>
			</div>
			<div class="area-part bd-part">
				<ul class="area-hd">
					<li class="item active">商圈</li>
					<li class="item"></li>
				</ul>
				<div class="area-bd">
					<div class="main-block">
						<ul class="area-list">
							<li class="area-opt"><span class="opt-name">全部地区</span><span class="opt-count hide"></span></li>
							<li class="area-opt active"><span class="opt-name">天河区</span><span class="opt-count">25623</span></li>
							<li class="area-opt"><span class="opt-name">越秀区</span><span class="opt-count">97</span></li>
							<li class="area-opt"><span class="opt-name">荔湾区</span><span class="opt-count">9978</span></li>
							<li class="area-opt"><span class="opt-name">海珠区</span><span class="opt-count">9978</span></li>
							<li class="area-opt"><span class="opt-name">番禺区</span><span class="opt-count">6702</span></li>
							<li class="area-opt"><span class="opt-name">黄埔区</span><span class="opt-count">2345</span></li>
							<li class="area-opt"><span class="opt-name">增城区</span><span class="opt-count">2345</span></li>
							<li class="area-opt"><span class="opt-name">花都区</span><span class="opt-count">2345</span></li>
							<li class="area-opt"><span class="opt-name">从化区</span><span class="opt-count">2345</span></li>
						</ul>
					</div>
					<div class="sub-block">
						<ul class="area-list">
							<li class="area-opt active">
								<div class="span opt-name">全部</div>
								<span class="opt-count detail-count">25584</span>
							</li>
							<li class="area-opt">
								<div class="span opt-name">五山</div>
								<span class="opt-count detail-count">6690</span>
							</li>
							<li class="area-opt">
								<div class="span opt-name">华师</div>
								<span class="opt-count detail-count">6589</span>
							</li>
							<li class="area-opt">
								<div class="span opt-name">岗顶</div>
								<span class="opt-count detail-count">6303</span>
							</li>
							<li class="area-opt">
								<div class="span opt-name">石牌桥</div>
								<span class="opt-count detail-count">6303</span>
							</li>
							<li class="area-opt">
								<div class="span opt-name">体育西路</div>
								<span class="opt-count detail-count">2535</span>
							</li>
							<li class="area-opt">
								<div class="span opt-name">珠江新城</div>
								<span class="opt-count detail-count">2496</span>
							</li>
							<li class="area-opt">
								<div class="span opt-name">广州塔</div>
								<span class="opt-count detail-count">2329</span>
							</li>
							<li class="area-opt">
								<div class="span opt-name">客村</div>
								<span class="opt-count detail-count">1334</span>
							</li>
							<li class="area-opt">
								<div class="span opt-name">五羊邨</div>
								<span class="opt-count detail-count">996</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="order-part bd-part">
				<ul class="order-list">
					<li class="option active">默认排序</li>
					<li class="option">价格最低</li>
					<li class="option">价格最高</li>
					<li class="option">离我最近</li>
					<li class="option">销量最高</li>
					<li class="option">评价最高</li>
				</ul>
			</div>
			<div class="other-part bd-part">
				<div class="ckbox-block other-hd">
					<a href="#" class="ckbox active">
						<i class="ckbox-icon"></i>
						<span class="ckbox-title">节假日可用</span>
					</a>
					<a href="" class="ckbox">
						<i class="ckbox-icon"></i>
						<span class="ckbox-title">免预约</span>
					</a>
				</div>
				<div class="radio-block other-bd">
					<h4 class="radio-title">用餐人数</h4>
					<button class="radio-btn">不限</button>
					<button class="radio-btn">单人餐</button>
					<button class="radio-btn active">双人餐</button>
					<button class="radio-btn">3-4人餐</button>
					<button class="radio-btn">5-10人餐</button>
					<button class="radio-btn">其他</button>
				</div>
				<div class="submit-block other-ft">
					<a href="#" class="submit-btn">完成</a>
				</div>
			</div>
		</section>
	</section> -->
	<section id="goods-list">
		<section class="good-box" ng-repeat="good in searchResult.good">
			<div class="good-hd">
				<h3 class="shop-name" ng-bind="good.good.goodName"></h3>
				<div class="shop-info">
					<span class="score">{{good.good.points.sum}}分</span>
					<span class="assess">{{good.good.goodCount}}人评价</span>
					<span class="store" ng-bind="good.shop.shopPlace"></span>
				</div>
			</div>
			<div class="good-bd">
				<div class="good-item">
					<a href="/gdetail.html?ID={{good.good.ID}}" class="good-link">
						<div class="img-box">
							<img ng-src="{{good.good.goodImg[0]}}">
						</div>
						<div class="info-box">
							<div class="title-line">
								<span class="distance"></span>
							</div>
							<p class="desc" ng-bind="good.good.goodDesc"></p>
							<div class="price-line">
								<span class="now" ng-bind="good.good.currPrice"></span>
								<span class="old" ng-bind="good.good.oldPrice"></span>
								<!-- <span class="discount">立减12元</span> -->
								<span class="count">已售{{good.good.goodCount}}</span>
							</div>
						</div>
					</a>
				</div>
			</div>
		</section>
		<section class="good-box" ng-repeat="data in searchResult.shop">
			<div class="good-hd">
				<h3 class="shop-name" ng-bind="data.shop.shopName"></h3>
				<div class="shop-info">
					<span class="score">{{data.shop.points.sum}}分</span>
					<span class="assess">283人评价</span>
					<span class="store" ng-bind="data.shop.shopPlace"></span>
				</div>
			</div>
			<div class="good-bd">
				<div class="good-item" ng-repeat="good in data.good">
					<a href="/gdetail.html?ID={{good.ID}}" class="good-link">
						<div class="img-box">
							<img ng-src="{{good.goodImg[0]}}">
						</div>
						<div class="info-box">
							<div class="title-line">
								<span class="distance"></span>
							</div>
							<p class="desc" ng-bind="good.goodDesc"></p>
							<div class="price-line">
								<span class="now" ng-bind="good.currPrice"></span>
								<span class="old" ng-bind="good.oldPrice"></span>
								<!-- <span class="discount">立减10元</span> -->
								<span class="count">已售{{good.goodCount}}</span>
							</div>
						</div>
					</a>
				</div>
				<!-- <div class="good-item">
					<a href="#" class="good-link">
						<div class="img-box">
							<img src="assets/img/pisa.jpg" alt="点都得">
						</div>
						<div class="info-box">
							<div class="title-line">
								<span class="distance"></span>
							</div>
							<p class="desc">100元代金券！祝贺新店开张，全场通用</p>
							<div class="price-line">
								<span class="now">88</span>
								<span class="old">100</span>
								<span class="discount">立减10元</span>
								<span class="count">已售3.1万</span>
							</div>
						</div>
					</a>
				</div> -->
			</div>
			<div class="good-ft" ng-show="searchResult.hideShop[$index].length">
				<button class="view-more" ng-show="searchResult.hideFlag[$index]" ng-click="viewMore($index)">其他{{searchResult.hideShop[$index].length}}个团购</button>
				<button class="view-more top" ng-show="!searchResult.hideFlag[$index]" ng-click="closeMore($index)">
					收起
				</button>
			</div>
		</section>
		<!-- <section class="good-box">
			<div class="good-hd">
				<h3 class="shop-name">点都得(汇胜楼店)</h3>
				<div class="shop-info">
					<span class="score no">暂无评分</span>
					<span class="store">石牌桥</span>
				</div>
			</div>
			<div class="good-bd">
				<div class="good-item">
					<a href="#" class="good-link">
						<div class="img-box">
							<img src="assets/img/dde.jpg" alt="点都得">
						</div>
						<div class="info-box">
							<div class="title-line">
								<span class="distance"></span>
							</div>
							<p class="desc">100元代金券！全场通用</p>
							<div class="price-line">
								<span class="now">88</span>
								<span class="old">100</span>
								<span class="discount">立减12元</span>
								<span class="count">已售8888</span>
							</div>
						</div>
					</a>
				</div>
			</div>
		</section> -->
	</section>
	<!-- <section id="load-more">
		<button class="load-submit">加载更多</button>
	</section> -->
	<footer id="ft" ng-controller="pageFtCtrl">
		<section class="info-block">
			<div class="geo-city">
				<span>城市：</span><a href="#" class="city-name info-link">广州</a>
			</div>
			<div class="login-info info">
				<a href="#" class="info-link" data-role="login">登陆</a>
				<a href="#" class="info-link" data-role="register">注册</a>
			</div>
			<div class="user-info info" ng-show="isAdmin">
				<a href="/good.html" class="info-link" data-role="ticket">录入商品</a>
				<a href="/shop.html" class="info-link" data-role="unpaid">录入商家</a>
			</div>
		</section>
		<section class="link-block">
			<p class="copyright">©miaomiao.com 2015-2016</p>
		</section>
		<div class="top"></div>
	</footer>

	<script src="assets/scripts/public/ng/angular.js"></script>
	<script src="assets/scripts/public/page/page.js"></script>
	<script src="assets/scripts/public/util/event.js"></script>
	<script src="assets/scripts/public/util/admin.js"></script>
	<script src="assets/scripts/public/util/url.js"></script>
	<script src="assets/scripts/search/search.js"></script>
</body>
</html>