<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
	<meta charset="UTF-8">
	<title>商家页</title>
	<link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" href="assets/css/shop/shop.css">
</head>
<body ng-controller="all">
	<header id="hd">
		<div class="btn-group">
		    <button type="button" class="btn btn-info">商家页</button>
		    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		        <span class="caret"></span>
		        <span class="sr-only">Toggle Dropdown</span>
		    </button>
		    <ul class="dropdown-menu">
		        <li><a href="/shop.html">商家页面</a></li>
		        <li><a href="/good.html">商品页面</a></li>
		    </ul>
		</div>
		<div class="btn-group" role="group">
			<button type="button" class="btn btn-default" ng-class="{'add': 'btn-primary', 'modify': '', 'delete': ''}[pageView]" ng-click="changeView('add', $event)">新增商家</button>
			<button type="button" class="btn btn-default" ng-class="{'add': '', 'modify': 'btn-primary', 'delete': ''}[pageView]" ng-click="changeView('modify', $event)">修改商家</button>
			<button type="button" class="btn btn-default" ng-class="{'add': '', 'modify': '', 'delete': 'btn-primary'}[pageView]" ng-click="changeView('delete', $event)">删除商家</button>
		</div>
	</header>
	<section class="content" ng-class="{'add': 'show', 'modify': 'hide', 'delete': 'hide', 'none': 'hide'}[pageView]" ng-controller="add">
		<h2>商家录入页面</h2>
		<div class="form-group">
			<label for="name">商家名称</label>
			<input type="text" class="form-control" id="name" ng-model="name" placeholder="请输入商家的全称" require>
		</div>
		<div class="form-group">
			<label for="place">商家地点</label>
			<input type="text" class="form-control" id="place" ng-model="place" placeholder="地级市--县/区--街道" require>
		</div>
		<div class="form-group">
			<label for="phone">商家预留电话</label>
			<input type="text" class="form-control" id="phone" ng-model="phone" placeholder="手机或固话" require>
		</div>
		<div class="form-group">
			<p>是否是连锁商店</p>
			<label class="radio-inline">
				<input type="radio" name="isChain" value="true" ng-click="toggleChain()">是
			</label>
			<label class="radio-inline">
				<input type="radio" name="isChain" value="false" ng-click="toggleChain()" checked>否
			</label>
		</div>
		<div class="form-group" ng-show="isChain">
			<p>选择连锁商店</p>
			<select ng-model="chainShop" id="chainShop" class="form-control">
				<option value="new">新建连锁店</option>
				<option ng-repeat="shop in shopList" value="shop.ID" ng-bind="shop.shopName"></option>
			</select>
		</div>
		<div class="form-group">
			<a class="btn" ng-class="{true: 'btn-info', false: 'btn-default'}[uploadFlag]" ng-click="uploadImg($event)" ng-disabled="!uploadFlag">上传图片</a>
		</div>
		<div class="form-group tal">
			<div class="img-box" ng-click="imgMaskDelete(0)">
				<input type="text" ng-model="imgList[0]">
			</div>
			<div class="img-box" ng-click="imgMaskDelete(1)">
				<input type="text" ng-model="imgList[1]">
			</div>
			<div class="img-box" ng-click="imgMaskDelete(2)">
				<input type="text" ng-model="imgList[2]">
			</div>
		</div>
		<div class="form-group">
			<button class="btn btn-primary" ng-click="addShop($event)">提交</button>
		</div>
		<form id="imgform" name="testupload" action="/upload/img" target="javascript:;" enctype="multipart/form-data" style="display: none;">
			<input type="file" name="upload" multiple="multiple" id="file" ng-model="fileName">
			<input type="submit" value="Upload" id="submit">
		</form>
	</section>
	<section class="content" ng-class="{'add': 'hide', 'modify': 'show', 'delete': 'hide', 'none': 'hide'}[pageView]" ng-controller="modify">
		<h2>修改商家信息</h2>
		<div class="row">
			<input type="text" class="form-control search-msg" ng-model="shopName" ng-keydown="searchShopByKeyboard()">
			<button class="btn btn-primary search" ng-click="searchShop()">搜索</button>
		</div>
		<div class="form-group" ng-show="hasSearch">
			<p>筛选后的商家</p>
			<select class="shop-list form-control" ng-model="shopID" ng-change="changeShop()">
				<option ng-repeat="shops in shopList" value="shops.ID">{{shops.shopName}}</option>
			</select>
		</div>
		<div id="selected-shop" ng-show="hasSelectShop">
			<div class="form-group" style="display: none;">
				<input type="text" class="form-control" ng-model="shop.ID">
			</div>
			<div class="form-group">
				<label for="name">商家名称</label>
				<input type="text" class="form-control" id="name" ng-model="shop.name" placeholder="请输入商家的全称" require>
			</div>
			<div class="form-group">
				<label for="place">商家地点</label>
				<input type="text" class="form-control" id="place" ng-model="shop.shopPlace" placeholder="地级市--县/区--街道" require>
			</div>
			<div class="form-group">
				<label for="phone">商家预留电话</label>
				<input type="text" class="form-control" id="phone" ng-model="shop.shopPhone" placeholder="手机或固话" require>
			</div>
			<!-- <div class="form-group">
				<p>是否是连锁商店</p>
				<label class="radio-inline">
					<input type="radio" name="isChain" value="true" ng-click="toggleChain()">是
				</label>
				<label class="radio-inline">
					<input type="radio" name="isChain" value="false" ng-click="toggleChain()">否
				</label>
			</div>
			<div class="form-group" ng-show="isChain">
				<p>选择连锁商店</p>
				<select ng-model="chainShop" id="chainShop" class="form-control">
					<option value="new">新建连锁店</option>
					<option ng-repeat="shop in shopList" value="shop.ID" ng-bind="shop.shopName"></option>
				</select>
			</div> -->
			<div class="form-group">
				<a class="btn btn-info" ng-click="uploadImg($event)" ng-disabled="!uploadFlag">上传图片</a>
			</div>
			<div class="form-group tal">
				<div class="img-box img-modify-box" ng-click="imgMaskDelete(0)">
					<input type="text" ng-model="imgList[0]">
					<div class="mask"></div>
					<img class="modifyImg" src="">
				</div>
				<div class="img-box img-modify-box" ng-click="imgMaskDelete(1)">
					<input type="text" ng-model="imgList[1]">
					<div class="mask"></div>
					<img class="modifyImg" src="">
				</div>
				<div class="img-box img-modify-box" ng-click="imgMaskDelete(2)">
					<input type="text" ng-model="imgList[2]">
					<div class="mask"></div>
					<img class="modifyImg" src="">
				</div>
			</div>
			<div class="form-group">
				<button class="btn btn-primary" ng-click="modifyShop($event)" ng-disabled="isPending">提交</button>
			</div>
			<form id="img-form-modify" name="uploadModify" action="/upload/img" target="javascript:;" enctype="multipart/form-data" style="display: none;">
				<input type="file" name="upload" multiple="multiple" id="file-modify" ng-model="fileName">
				<input type="submit" value="Upload" id="submit">
			</form>
		</div>
	</section>
	<section class="content" ng-class="{'add': 'hide', 'modify': 'hide', 'delete': 'show', 'none': 'hide'}[pageView]" ng-controller="delete">
		<h3>删除商家</h3>
		<div class="row">
			<input type="text" class="form-control search-msg" ng-model="shopName" ng-keydown="searchShopByKeyboard()">
			<button class="btn btn-primary search" ng-click="searchShop()">搜索</button>
		</div>
		<div class="form-group" ng-show="hasSearch">
			<p>筛选后的商家</p>
			<table class="table table-hover tac" ng-show="hasSearch">
				<tr>
					<th class="tac">序号</th>
					<th class="tac">商品名</th>
					<th class="tac">商家地址</th>
					<th class="tac">商家电话</th>
					<th class="tac">操作</th>
				</tr>
				<tr ng-repeat="shop in shopList">
					<td ng-bind="$index + 1"></td>
					<td ng-bind="shop.ID" style="display: none;"></td>
					<td ng-bind="shop.shopName"></td>
					<td ng-bind="shop.shopPlace"></td>
					<td ng-bind="shop.shopPhone"></td>
					<td>
						<button class="btn btn-danger" ng-click="deleteShop($index, shop.ID)" ng-disabled="isPending">删除</button>
					</td>
				</tr>
			</table>
		</div>
	</section>
	<footer id="ft" ng-show="showTips" class="row">
		<p class="success-tips tips suc" ng-show="isSuc">{{tips}}成功</p>
		<p class="success-tips tips err" ng-show="isErr">{{tips}}失败</p>
		<button class="btn btn-info" ng-click="reload()">返回页面</button>
	</footer>
	<script src="angular/angular.js"></script>
	<script src="jquery/dist/jquery.min.js"></script>
	<script src="bootstrap/js/dropdown.js"></script>
	<script src="assets/scripts/shop/shop.js"></script>
</body>
</html>