%mr0 {
	margin: 0;
}
%pd0 {
	padding: 0;
}

%lf {
	float: left;
}
%rh {
	float: right;
}
%tac {
	text-align: center;
}
%hide {
	display: none !important;
}
.hide {
	@extend %hide;
}
/* btn */
.btn {
	display: inline-block;
}
/* /btn */

// init layout
body, p, input, h1, h2, h3, h4, h5, h6 {
	@extend %mr0;
	@extend %pd0;
}
a {
	text-decoration: none;
	outline: none;
}
input {
	outline: none;
}
// end init

html {
	font-size: 62.5%;
	height: 83.33%;
}