@charset "utf-8";

@import "../_paritals/var";
@import "../_paritals/global";
@import "../public/pageHd";

body {
	background-color: #eee;
}
#reg-box, #login-box {
	padding: 0 12px;
	.notice {
		@extend %hide;
		padding-left: 18px;
		line-height: 24px;
		font-size: 1.4rem;
		color: lighten(red, 2);
		background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAYAAAByDd+UAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAeZJREFUeNq8lk1LAlEUho+DSJEhuGjRF9hGEAolghJjFpG5CgqF2gRt+wUFLoX2Qb+hwCioVQaRJLgSg0CKWhVKJQiCYWhF5wwzMQ2j917NeeGFw3jPebjer2Orh0eBQ5PoFfQiuh/tV7/foOvoC/RJ3/nzLauQjQEkyC7aC3y6R8cRfCQKHEcfouegM2XRawh+Mv4gmQyW0fkuYKDm5j+WxmQWkAak0G7oXlQjZYTqgR50Eu1oV0WamgXH3pliihmiWkmEeszW8BodYlY4yIHkHlLi78obNNaneWabwfWc188wygNTElSYMWYohLOM6oEJ6L0SGlAWOGfdyEsbiIARsE4RqcvzJnw+CeizEOgjoMtCoEsCi0XAqkhC86VkGnOqSsCCSEZxewua5VfFFAuqYFefEpk3Y/AhC3czE0o8POIEcDqEni26Swl2ZdESLtBfmlZfar5FF3st/nQDeIFfars0zptl39kHyetXTLGA4vrLm3qQDE/WV+PTNGatndbn6M/hJrrcg11KNTdaNVFai9Fy673XGlAq1n536UD7XdpAh3F26XZdG0GP/6GvqaBX9bBWXRsNCKjns1NRbsAIawUkUT8ZRMfQjwIgGhtDUNCsJ+XpvDVRp7TMaPVPEZJjFfoRYABVdpdocs7cXQAAAABJRU5ErkJggg==') no-repeat 0 5px;
		background-size: 14px;
	}
	form {
		margin-top: 10px;
	}
	.ipt-box {
		margin-bottom: 10px;
		padding: 15px;
		border: 1px solid $maBrClr;
		background-color: #fff;
	}
	.ipt-desc {
		display: inline-block;
		width: 60px;
		line-height: 14px;
		font-size: 1.4rem;
		color: #222;
	}
	.ipt {
		@extend %br-box;
		display: inline-block;
		padding-left: 10px;
		width: calc(100% - 65px);
		font-size: 1.4rem;
	}
	.phone {
		
	}
	.reg-submit, .login-submit {
		width: 100%;
		line-height: 40px;
		font-size: 1.6rem;
		background-color: $maClr;
		color: #fff;
		border: 1px solid $maClr;
		border-radius: 5px;
	}
	.btn[disabled="disabled"] {
		background-color: lighten($maClr, 20);
		border: 1px solid lighten($maClr, 20);
	}
	.change-tab {
		@extend %rh;
		display: inline-block;
		margin-top: 10px;
		color: $maClr;
		font-size: 1.3rem;
		text-decoration: underline;
	}
}
#login-box {
	@extend %hide;
}