@charset "utf-8";

@import "../_paritals/var";
@import "../_paritals/global";
@import "../public/pageHd";

body {
	background-color: #eee;
}

.mrt12 {
	margin-top: 12px;
}
.mr70 {
	margin-left: 70%;
}
.msg-box {
	padding: 0 12px;
	background-color: #fff;
	border-bottom: 1px solid $maBrClr;
}
span.lf {
	display: inline-block;
	width: 70%;
	text-align: left;
	vertical-align: middle;
}
span.rh, div.rh {
	display: inline-block;
	width: 30%;
	text-align: right;
	vertical-align: middle;
}
.change-count input {
	width: 33.33%;
	text-align: center;
}
.change-count > * {
	display: inline-block;
	width: 33.33%;
	box-sizing: border-box;
	line-height: 35px;
	vertical-align: middle;
}
.btn {
	position: relative;
	width: 20px;
	height: 20px;
	background-color: #fff;
	border: 1px solid $maBrClr;
	border-radius: 4px;
}
.btn.plus {
	border-color: $maBrClr;
}
.btn::before {
	position: absolute;
	content: "";
	top: 50%;
	left: 3px;
	margin-top: -1px;
	width: 12px;
	height: 1px;
	background-color: $maBrClr;
}
.plus::before {
	background-color: $maBrClr;
}
.plus::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 3px;
	margin-top: -1px;
	width: 12px;
	height: 1px;	
	background-color: $maBrClr;
	transform: rotate(90deg);
}
.plus.active, .minus.active {
	border-color: $maClr;
}
.plus.active::before, .plus.active::after, .minus.active::before, .minus.active::after {
	background-color: $maClr;
}
.tip {
	font-size: 1.2rem;
	color: #ccc;
}
.normal-ft {
	line-height: 35px;
	font-size: 1.3rem;
	color: $maFtClr;
}
.ft-0 {
	font-size: 0;
}
.submit-box {
	padding: 0 12px;
	.submit{
		width: 100%;
		line-height: 35px;
		font-size: 1.5rem;
		font-family: inherit;
		background-color: $maClr;
		color: #fff;
		border: 1px solid $maClr;
		border-radius: 4px;
	}
}

// 订单详情页
.order-msg {

	$lightClr: rgb(154, 154, 154);
	
	> section {
		padding: 0 12px;
		margin-bottom: 12px;
		background-color: #fff;
		border-bottom: 1px solid $maBrClr;
	}

	.good-msg {
		$ftClr: rgb(85, 85, 85);

		.good-link {
			display: -webkit-flex;
			padding: 12px 0;

			.img-box {
				padding-right: 10px;
				font-size: 0;
			}
			img {
				width: 96px;
				height: 72px;
			}
			.info-box {
				flex-grow: 1;
			}
			.title-line {
				line-height: 16px;
			}
			.good-name {
				@extend %ellipsis;
				@extend %vam;
				display: inline-block;
				width: 40%;
				font-size: 1.6rem;
				color: #222;
			}
			span {
				display: inline-block;
			}
			.distance {
				@extend %hide;
				color: $ftClr;
			}
			.place {
				@extend %rh;
				@extend %vam;
				color: $ftClr;
			}
			.desc {
				margin: 3px 0;
				width: 98%;
				height: 32px;
				line-height: 16px;
				font-size: 12px;
				color: $ftClr;
			}
			.price-line {
				height: 16px;
				line-height: 16px;
			}
			.now {
				margin-right: 5px;
				font-weight: bold;
				font-size: 16px;
				color: $maClr;
			}
			.now::before {
				content: '￥';
			}
			.old {
				margin-right: 3px;
				font-size: 12px;
				text-decoration: line-through;
				color: $ftClr;
			}
			.discount {
				padding: 0 2px;
				font-size: 11px;
				color: $maClr;
				border: 1px solid $maClr;
			}
			.count {
				@extend %rh;
				font-size: 12px;
				color: $ftClr;
			}
		}
	}

	.good-cont {
		.title {
			line-height: 35px;
			font-weight: normal;
			border-bottom: 1px solid $maBrClr;
		}
		.cont {
			padding: 12px 0;
			color: $lightClr;
		}
	}
	.order.msg-box {
		padding: 0;
		font-size: 0px;
		line-height: 40px;
	}
	.order.msg-box:last-child {
		border-bottom: 0;
	}
	span.unit::before {
		content: "￥";
		font-size: inherit;
		color: inherit;
	}
	.order-msg {
		.title {
			line-height: 40px;
			font-size: 1.3rem;
			border-bottom: 1px solid $maBrClr;
		}
		.lf {
			width: 50%;
			line-height: 24px;
			font-size: 1.3rem;
			color: $lightClr;
		}
		.rh {
			width: 50%;
			line-height: 24px;
			font-size: 1.2rem;
			color: $maFtClr;
		}
	}

	.pay-box {
		@extend %br-box;
		position: fixed;
		bottom: 0px;
		left: 0px;
		width: 100%;
		height: 60px;
		padding: 8px 12px;
		margin: 0;
		font-size: 0;
		.money {
			@extend %br-box;
			display: inline-block;
			width: 68%;
			color: $maClr;
			font-size: 2.8rem;
			vertical-align: middle;
		}
		.pay-btn {
			@extend %br-box;
			display: inline-block;
			width: 32%;
			height: 40px;
			font-size: 1.8rem;
			vertical-align: middle;
			line-height: 100%;
			background-color: $maClr;
			color: #fff;
			border: 1px solid $maClr;
			border-radius: 4px;
			&.disabled {
				background-color: $maBrClr;
				border: 1px solid $maBrClr;
			}
		}
	}
}

// 订单列表页
.order-list {
	$lightClr: rgb(154, 154, 154);
	$ftClr: rgb(85, 85, 85);

	padding-bottom: 40px;

	article {
		transform: translateX(0);
		transition: 300ms;

		&.editing {
			transform: translateX(65px);
		}
	}

	.edit-order {
		position: absolute;
	    display: inline-block;
	    right: 0;
	    top: 0;
	    height: 100%;
	    width: 50px;
	    font-size: 1.3rem;
	    color: #fff;
	}

	.panel:first {
		margin-top: 10px;
	}

	.panel-title {
		display: inline-block;
		padding: 0 8px;
		line-height: 28px;
		font-size: 1.3rem;
		font-weight: normal;
		color: #fff;
		background-color: #58c88d;

		&.unpay {
			background-color: #D9C526;
		}
		&.eval {
			background-color: #58A3C8;
		}
		&.over {
			background-color: #ccc;
		}
	}

	.title {
		@extend %tac;
	    padding: 8px 0;
		line-height: 24px;
	    font-weight: normal;
	    font-size: 1.4rem;
	    box-sizing: border-box;
	    border-bottom: 2px solid $maClr;
	    color: $maClr;
	}

	// .list {
	// 	transform: translateX(0);
	// 	transition: 300ms;

	// 	&.editing {
	// 		transform: translateX(65px);
	// 	}
	// }

	.item {
		position: relative;
		background-color: #fff;
		margin-bottom: 12px;
		padding: 0 12px;
		border-bottom: 1px solid $maBrClr;
	}

	.good-link {
		display: -webkit-flex;
		padding: 12px 0;
		border-bottom: 1px solid $maBrClr;

		.img-box {
			padding-right: 10px;
			font-size: 0;
		}
		img {
			width: 96px;
			height: 72px;
		}
		.info-box {
			flex-grow: 1;
		}
		.title-line {
			margin-top: 10px;
			line-height: 16px;
		}
		.good-name {
			@extend %ellipsis;
			@extend %vam;
			display: inline-block;
			width: 40%;
			font-size: 1.6rem;
			color: #222;
		}
		span {
			display: inline-block;
		}
		.distance {
			@extend %hide;
			color: $ftClr;
		}
		.place {
			@extend %rh;
			@extend %vam;
			color: $ftClr;
		}
		.info {
			margin-top: 12px;
			width: 98%;
			line-height: 16px;
			font-size: 1.2rem;
			color: $lightClr;
		}
		.price-line {
			height: 16px;
			line-height: 16px;
		}
		.now {
			margin-right: 5px;
			font-weight: bold;
			font-size: 16px;
			color: $maClr;
		}
		.now::before {
			content: '￥';
		}
		.old {
			margin-right: 3px;
			font-size: 12px;
			text-decoration: line-through;
			color: $ftClr;
		}
		.discount {
			padding: 0 2px;
			font-size: 11px;
			color: $maClr;
			border: 1px solid $maClr;
		}
		.count {
			@extend %rh;
			font-size: 12px;
			color: $ftClr;
		}
	}

	.pay-box {
		line-height: 40px;
		font-size: 0;
		.pay-price {
			@extend %br-box;
			display: inline-block;
			width: 70%;
			color: #333;
			font-size: 1.3rem;
			vertical-align: middle;
		}
		.sum-price {
			font-weight: bold;
			font-size: 1.4rem;
		}
		.pay-btn {
			@extend %br-box;
			display: inline-block;
			width: 30%;
			height: 26px;
			vertical-align: middle;
			color: #fff;
			background-color: $maBrClr;
			border: 1px solid $maBrClr;
			border-radius: 4px;
			&.active {
				background-color: $maClr;
				border: 1px solid $maClr;
			}
		}
	}

	.isDelete {
		position: absolute;
		left: -50px;
		top: 50%;
		width: 30px;
		margin-top: -15px;
	}

	/* 加载更多团购信息 */
	#load-more {
		line-height: 24px;
		font-size: 15px;

		.load-more-link {
			@extend %tac;
			display: block;
			padding: 5px 0;
			color: $maFtClr;
			&:hover, &:active {
				background-color: #f0f0f0;
			}
		}
	}

	.delete-btn {
		position: fixed;
		left: 0;
		bottom: 0;
		width: 100%;
		line-height: 38px;
		font-size: 1.5rem;
		background-color: $maClr;
		border: 1px solid $maClr;
		border-radius: 4px;
		color: #fff;
		&.disabled {
			background-color: #ccc;
			border: 1px solid #ccc;
		}
	}
}